<h3>{{ leyenda }}</h3>

<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
          <i class="mdi mdi-minus"></i>
      </button>
    </span>

    <input #txtProgress type="number" min="1" max="100" [(ngModel)]="progreso" name="progreso" (ngModelChange)="onChange($event)" class="form-control">

    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
          <i class="mdi mdi-plus"></i>
      </button>
    </span>
</div>